/Lab1/dist/
/Lab1/build/
/ServletDataSharing/nbproject/private/
/ServletDataSharing/build/
/CRUDusingServlet/nbproject/private/
/CRUDusingServlet/build/
/Lab3/build/
/Lab3/nbproject/private/
/LAB 3/build/
/LAB 3/nbproject/private/
/LAB 1/CRUDusingServlet/build/
/LAB 1/CRUDusingServlet/nbproject/private/
/LAB 1/Lab1/build/
/LAB 1/Lab1/dist/
/LAB 1/Lab1/nbproject/private/
/LAB 1/ServletDataSharing/build/
/LAB 1/ServletDataSharing/nbproject/private/
/LAB 3/Exercise/SCRW/nbproject/private/
/LAB 3/Exercise/SCRW/build/
